body{
    margin: 0;
    background: #d9a7c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fffcdc, #d9a7c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

header img{
    height: 270px;
    width: 1550px;
    position: sticky;
    top:0; 
}
nav{
    
    position: sticky;
    top:0; 
}
nav ul{
    
    overflow: hidden;
    list-style-type:none;
    background-color: rgb(129, 89, 13);
    margin: 0;
    padding: 0;
    
   
    
}
nav ul li{
    float:left;
    

}
nav ul li a{
    text-decoration: none;
    display: block;
    color:white;
    padding:15px 5px;
    

}
nav ul li a:hover{
    background-color:greenyellow;
    color: black;

}
article {
    margin: 15px;
    padding: 0 6px;
    background-color:#f1e7d4;
    ;
}

nav .nav-active{
    background-color: greenyellow;
    color: black;

}
@media only screen and (max-with:800px){
    nav ul li{
        float:none;
    }
}
.substr{
     background-color: black;
     color: white; width: 55%;
     height: 40px;
    
}
.VD1{
    color: white ;
    background-color: black;
    width: 55%;
    height: 80px;
}
.VD2{
    color: white ;
    background-color: black;
    width: 55%;
    height: 60px;
}
.VD3{
    color: white ;
    background-color: black;
    width: 55%;
    height: 70px;

}
.substring{
    color: white ;
    background-color: black;
    width: 55%;
    height: 40px;
}
.VD4{
    color: white ;
    background-color: black;
    width: 55%;
    height: 80px;
}
.slice{
    color: white ;
    background-color: black;
    width: 55%;
    height: 40px;
}
.VD{
    color: white ;
    background-color: black;
    width: 55%;
    height: 80px;
}
.VD5{
    color: white ;
    background-color: black;
    width: 55%;
    height: 80px;
}
.moment{
    color: white ;
    background-color: black;
    width: 55%;
    height: 120px;
}
.String{
    color: white ;
    background-color: black;
    width: 55%;
    height: 80px;
}
.Millisecond{
    color: white ;
    background-color: black;
    width: 55%;
    height: 80px;
}
.Second{
    color: white ;
    background-color: black;
    width: 55%;
    height: 80px;
}
.Minute{
    color: white ;
    background-color: black;
    width: 55%;
    height: 80px;
}
.Hour{
    color: white ;
    background-color: black;
    width: 55%;
    height: 80px;
}
.Date{
    color: white ;
    background-color: black;
    width: 55%;
    height: 80px;
}
.Month{
    color: white ;
    background-color: black;
    width: 55%;
    height: 80px;
}
.Year{
    color: white ;
    background-color: black;
    width: 55%;
    height: 80px;
}
.Get{
    color: white ;
    background-color: black;
    width: 55%;
    height: 155px;
}
.vidu{
    color: white ;
    background-color: black;
    width: 55%;
    height: 170px; 
}
.Add{
    color: white ;
    background-color: black;
    width: 55%;
    height: 60px; 
}
.Subtract{
    color: white ;
    background-color: black;
    width: 55%;
    height: 60px; 
}
.Start{
    color: white ;
    background-color: black;
    width: 55%;
    height: 240px; 

}
#email{
    width: 50%;
}
#title{
    width: 50%;

}
#content{
    width: 50%;
    
    
}
.form-cmt{
   text-align: center;
    width: 50%;
    margin-left: 25%;
    
}
.cmt{
    width: 50%;
    margin-top: 5px;
}
.reset{
    margin-top: 5px;
    width: 50%;
}
#form-error p {
    color: red;
    font-size: hight;

}

